@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.off {
    opacity: 0;
    position: absolute;
    top: -100%;
}
/*body {
    background: #f7f6ff;
}*/

#Logo {
    position:relative;
    width: 50%;
    left: 25%;
}

#Aufgaben {
    position:relative;
    left: 5%;
    width: 70%;
    max-width: 500px;
    height:auto;
}
#AufgabenS {
    position:relative;
    left: 20px;
    max-width: 500px;
    height:auto;
}

#Zeit {
    position:relative;
    left: 5%;
    width: 70%;
    max-width: 500px;
    height:auto;
}
#ZeitS {
    position:relative;
    left: 20px;
    max-width: 500px;
    height:auto;
}


@media all and (min-width: 1200px) {
    #Teamranking {
        width: 50%;
        top: 270px;
        position: absolute;
        right: -60px;
    }
}

#TrFont {
    position:relative;
    left: 20px;
    max-width: 500px;
    height:40px;
}

#Ranking {
    position:relative;
    left: 10%;
    width: 80%;
    max-width: 700px;
    height:auto;
}


.spacer
{
    position:relative;
    width: 100%;
    height: 50px;
}

#keke {
    font-size:  xx-large;
    font-family: Impact, sans-serif;
    height: 40px;
    color: #fff; /*f5f6fa*/
    background: #1abc9c;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: 1px solid #1abc9c;
    transition: 0.8s;
}

#keke::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #1abc9c;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}

#keke:hover {
    background: #fff;
    cursor: pointer;
    color: #1abc9c;
}

#keke:hover::before {
    height: 0%;
}

#ranking {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    color: black;
    background: #f1f1f1ff;
    overflow: hidden;
    border-radius: 10px;
    border: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none
}

#question {
    font-size: large;
    color: black;
    text-align: center;
    height: auto;
    background: #f1f1f1ff;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}

#UmfrageText {
    font-size:  xx-large;
    font-family: Impact, sans-serif;
    height: 40px;
    color: #f5f6fa;
    background: #636e72;
    overflow: hidden;
    border-radius: 10px;
    border: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none
}

#i {
    margin: 15px;
}